<div class="left_side">
    <div class="new_order_button">
        <a href="new_order" class="order_add_link" style="color: white">
            <button class="btn btn-primary">New order</button>
        </a>
    </div>
    <div class="left_side_content">
        <ul>
            <h3 class="h3_left">Orders</h3>
            <h3 class="h3_left">Shop</h3>
            <h3 class="h3_left">Tasks</h3>
            <hr color="gray">
            <h3 class="h3_left">About</h3>

        </ul>
    </div>
</div>