.wrap {
    background: #ffffff;
    height: auto;
    width: 1240px;
    margin: auto;

}

.header {
    background: #0c5460;
    color: white;
    height: 110px;
    width: 100%;
    margin: 5px 10px 5px 10px ;
    padding: 27px 34px 25px 35px;
    font-size: xx-large;
    float: left;
    border-radius: 3px;
}

.content {
    width: 98%;
    margin: 5px 5px 5px 5px;
}

.order_add_link {
    margin: 0px 5px 30px 5px;
    padding: 3px 5px 5px 5px;
    float: right;
}

.navbar {
    margin-left: 14px;
    font-size: medium;
    color: #b1dfbb;
}

.left_side {
    height: 980px;
    width: 19%;
    float: left;
    background: #0c5460;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    font-family: Ubuntu;
}

.right_side {
    height: 1020px;
    width: 79%;
    float: right;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    font-family: Ubuntu;
    border-radius: 3px;
}

.p_list {
    color: white;
}

.h3_left {
    color: white;
    margin: 40px 0px 40px 0px;
    font-family: Ubuntu;

}

.create_order_button {
    border-radius: 5px;
    width: 90px;
    box-shadow: black;
    color: black;
    font-family: Ubuntu;
}

/*new CSS for table*/


#customers {
  font-family: Ubuntu;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0c5460;
  color: white;
}
