.wrap {
    background: #ffffff;
    height: auto;
    width: 90%;
    margin: auto;

}

.header {
    background: #0c5460;
    color: white;
    height: 56px;
    width: 100%;
    margin: 5px 10px 5px 10px ;
    /*padding: 27px 34px 25px 35px;*/
    font-size: xx-large;
    float: left;
    border-radius: 3px;
}

.content {
    width: 98%;
    margin: 5px 5px 5px 5px;
}

.order_add_link {
    margin: 0px 5px 30px 5px;
    padding: 3px 5px 5px 5px;
    float: right;
}

.navbar {
    width: 100%;
    font-size: medium;
    color: #b1dfbb;
    font-family: Ubuntu;
}

.left_side {
    height: 980px;
    width: 17%;
    float: left;
    background: #0c5460;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    font-family: Ubuntu;
}

.right_side {
    height: 1020px;
    width: 79%;
    float: right;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    font-family: Ubuntu;
    border-radius: 3px;
}

.p_list {
    color: white;
}

.h3_left {
    color: white;
    margin: 40px 0px 40px 0px;
    font-family: Ubuntu;

}

.create_order_button {
    border-radius: 3px;
    width: 90px;
    box-shadow: black;
    color: black;
    font-family: Ubuntu;
}

.save_client_button {
    border-radius: 3px;
    width: 70px;
    box-shadow: black;
    color: black;
    font-family: Ubuntu;
}

