.wrap {
    background: #ffffff;
    height: 100%;
    width: 1040px;
    margin: auto;
}

.header {
    background: #0c5460;
    height: 80px;
    margin: 5px 5px 5px 5px ;
    padding: 34px 14px 14px 24px;
}

.content {
    width: 100%;
}

.left_side {
    height: 1020px;
    width: 20%;
    float: left;
    background: #0c5460;
    margin: 5px 5px 5px 5px;
}

.right_side {
    height: 1020px;
    width: 78%;
    background: #818182;
    float: right;
    margin: 5px 5px 5px 5px;
    font-family: Ubuntu;
}

.p_list {
    color: white;
}

.h3_left {
    color: white;
    margin: 40px 0px 40px 0px;
    font-family: Ubuntu;

}

# new CSS for table


#customers {
  font-family: Ubuntu;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0c5460;
  color: white;
}
