{% extends 'main_app/base.html' %}


{% block title %} New order {% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="content">

    <div class="left_side">
        {% include 'includes/left_side_content.html' %}
    </div>


    <div class="right_side">

            <form method="post">
                {% csrf_token %}

                {{ client_form.as_p }}<br>
                {{ unit_form.as_p }}<br>
                {{ order_form.as_p}}<br>

                <button class="create_order_button" type="submit">Create</button>

            </form>
    </div>
</div>


{% endblock %}