{% extends 'main_app/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

<div class="left_side">
    <ul>
        <a href="new_order" style="color: white">Add new order</a>
        <h3 class="h3_left">Orders</h3>
        <h3 class="h3_left">Shop</h3>
        <h3 class="h3_left">Payments</h3>
        <h3 class="h3_left">Tasks</h3>
        <hr color="gray">
        <h3 class="h3_left">About</h3>
    </ul>
</div>

<div class="right_side">

    <table id="customers">
        <tr>
            <th>Client</th>
            <th>Contact</th>
            <th>Type</th>
            <th>Unit</th>
        </tr>
        <tr>
            {% for field in orders %}
            <td><a href="{{ field.get_url }}">{{ field.client }}</a></td>
            <td>{{ field.client.phone_number }}</td>
            <td>{{ field.type_of_unit }}</td>
            <td>Brand:{{ field.unit.brand }} Model:{{ field.unit.model }}</td>
        </tr>
        {% endfor %}


    </table>

    <!--    <ul>{% for order in orders %}-->
    <!--        <h3 class="p_list"><a href="{{ order.get_url }}" style="color: white; text-decoration:none ">{{ order.pk }} {{ order.unit.brand }} {{ order.unit.model }} </a>{{ order.defect }}{{ order.client }}</h3>-->
    <!--        {% endfor %}-->
    <!--    </ul>-->
</div>


{% endblock %}

