{% extends 'main_app/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}


{% include 'includes/header.html' %}

<div class="content">

    <div class="left_side">
        <a href="new_order" class="order_add_link" style="color: white"><button class="create_order_button">New order</button></a>
        {% include 'includes/left_side_content.html' %}
    </div>

    <div class="right_side">

        <table id="customers">
            <tr>
                <th>Client</th>
                <th>Defect</th>
                <th>Contact</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Stage</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            <tr>
                {% for field in orders %}
                <td width="140px"><a href="{{ field.get_url }}">{{ field.client.name|title }} <br> {{ field.client.surname }}</a></td>
                <td>{{ field.defect }}</td>
                <td>{{ field.client.phone_number }}</td>
                <td>{{ field.type_of_unit }}</td>
                <td>{{ field.unit.brand|title }} {{ field.unit.model }}</td>
                <td>{{ field.repair_stage }}</td>
                <td>{{ field.created_at }}</td>
                <td>{{ field.updated_at }}</td>
            </tr>
            {% endfor %}


        </table>

    </div>
</div>

{% endblock %}

