{% extends 'main_app/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<div class="content">

    {% include 'includes/left_side_content.html' %}

    <div class="right_side">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Defect</th>
                <th scope="col">Contact</th>
                <th scope="col">Type</th>
                <th scope="col">Unit</th>
                <th scope="col">Stage</th>
                <th scope="col">Created</th>
                <!--                <th scope="col">Updated</th>-->
            </tr>
            </thead>
            <tbody>
            {% for field in orders %}
            <tr>
                <td><a href="{{ field.get_url }} ">{{ field.id }}</a></td>
                <td width="140px"><a href="{{ field.get_url }}"> {{ field.client|title }}</a></td>
                <td>{{ field.defect }}</td>
                <td>{{ field.client.phone_number }}</td>
                <td>{{ field.unit.type }}</td>
                <td>{{ field.unit.brand|title }} {{ field.unit.model }}</td>
                <td>{{ field.repair_stage }}</td>
                <td>{{ field.created_at }}</td>
                <!--                <td>{{ field.updated_at }}</td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

