{% extends 'main_app/base.html' %}

{% block title %} Order {{ order.pk }} detail{% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<div class="content">

    {% include 'includes/left_side_content.html' %}

    <div class="right_side">
        <form id="order_edit_form" action="" method="post">
            <div class="order_id">Order:<span>{{ order_id }}</span></div>

            <div class="client">
                <div class="client_static">
                    Client:
                    <div class="client_fields">
                    </div>

                    <a href="" id="edit_client"> Edit</a>
                </div>

                <div class="client_edit form_edit_input edit_form">
                    <form action="" id="client_edit">
                        Client edit
                        <input type="text" id="name" class="form-control" placeholder="Name">
                        <input type="text" id="surname" class="form-control" placeholder="Surname">
                        <input type="text" id="phone_number" class="form-control" placeholder="Phone number">
                    </form>
                    <a href="" class="close_client_edit" id="client_edit_close">Close</a>
                </div>
            </div>
            <br>
            <hr>

            <!--        -->
            <div class="unit">
                <div class="unit_static">
                    Unit:
                    <div class="unit_fields">
                    </div>

                    <a href="" id="edit_unit" class="edit_link"> Edit</a>
                </div>

                <div class="unit_edit form_edit_input edit_form">
                    <form action="" id="unit_edit">
                        Unit edit
                        <input type="text" id="brand" class="form-control" placeholder="Brand">
                        <input type="text" id="model" class="form-control" placeholder="Model">
                        <input type="text" id="serial_number" class="form-control" placeholder="Serial number">

                        <select id="type_of_unit" class="form-control form_edit_input">

                        </select>

<!--                        <input type="text" id="type_of_unit" class="form-control" placeholder="Unit type">-->
                    </form>
                    <a href="" class="close_unit_edit" id="unit_edit_close">Close</a>
                </div>
            </div>
            <br>
            <hr>

            <!---->
            <div class="defect">
                <label for="defect_edit">Defect</label>
                <textarea rows="5" id="defect_edit" class="form-control">
            </textarea>
            </div>
            <button class="btn btn-success general-button" type="submit" id="save_order">Save order</button>
        </form>

    </div>
</div>


{% endblock %}
