{% extends 'main_app/base.html' %}

{% block title %} Order {{ order.pk }} detail{% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<div class="content">

    <div class="left_side">
        {% include 'includes/left_side_content.html' %}
    </div>

    <div class="right_side">
        <div class="order_id">Order id:<span>{{ order_id }}</span></div>
        <div class="client">
            <div class="client_static">
                <div class="client_fields">

                </div>

                <a href="" id="edit"> Edit</a>
            </div>
            <div class="client_edit">
                <form action="" id="client_edit">
                    <input type="text" id="name" class="form-control" placeholder="Name">
                    <input type="text" id="surname" class="form-control" placeholder="Surname">
                    <input type="text" id="phone_number" class="form-control" placeholder="Phone number">
                    <button class="btn-sm">Save changes</button>
                </form>


            </div>

        </div>
        <br>
        <hr>
        <div class="defect">
            <input type="text" placeholder="Defect description">
        </div>

    </div>

    {% endblock %}

</div>